.wrapper{
  width: 70%;
  margin: 10px auto 10px;
}
.my-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.mb-50{
  margin-bottom: 50px;
}
.table-pet-history{
  width: 100%;
  border: 1px solid var(--border-color);
  border-spacing: 0;
  font-size: 14px;
}
.table-pet-history th {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 7px 10px;
  background-color: #e6e6e6;
}
.table-pet-history th:first-child{
  border-left: none;
}
.table-pet-history td {
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 7px 10px;
}
.table-pet-history tr:first-child td{
  border-top: none;
}
.table-pet-history tr td:first-child{
  border-left: none;
}